Package: advancednetwork
Version: 0.6
Provides:
Source: package/advancednetwork
Section: net
Priority: optional
Maintainer: Tim Wilkinson (KN6PLV)
Architecture: all
Description: Advanced network configuration
